#modalcontainer {
    background-color: transparent;

}

.buttoncontainer {
    margin: 20px auto;
    width: 200px;
    display: flex;
}

.buttoncontainer button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.buttons button {
    margin: 20px;
}

label {
    color: white;
}

.nes-field {
    width: 300px;
    margin: 0 auto;
}

#usermodal input {
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #209CEE;
}

.title {
    background-color: white !important;
    color: black !important;
    font-size: 20px !important;
}