h2 {
    color: white;
    text-align: center;
}

#leaderboard-icons {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#leaderboard-icons button {
    height: 100px;
    width: 120px;
    margin: 10px;
}

#leaderboard-screen {
    border: 2px solid orange;
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 40%;
    background: white;
    width: 200px;
    /* transition: all ease-in 0.2s; */
    /* transition-delay: 0s; */
}

#leaderboard-screen {
    margin: 0 auto;
}

#leaderboard-rank-list {
    color: greenyellow;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

#leaderboard-rank-list div ul {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#leaderboard-rank-list div ul p {
    /* border: 2px solid green; */
    /* display: flex;
    flex-direction: row; */
    padding: 10px 20px;
}

