h2 {
    color: white;
    text-align: center;
}

#leaderboard-rank-list {
    color: #4AA52E;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

#leaderboard-rank-list div ul {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#leaderboard-rank-list div ul p {
    /* border: 2px solid green; */
    /* display: flex;
    flex-direction: row; */
    width: 100px;
    margin: 5px;
    padding: 5px 20px;
}

.leaderboardcont {
    display: flex;
    flex-direction: column;
}