@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");



#list-of-difficulty {
    width: 890px;
    height: 570px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#list-of-difficulty button {
    height: 100%;
    width: 350px;
    border: none;
    background-color: rgb(255, 86, 86);
    color: white;
}

#leaderboard-icons {

    display: flex;
    flex-direction: column;
    margin: 20px;
}

#leaderboard-icons button {
    height: 100px;
    width: 120px;


}

#x-btn {
    text-align: center;
    float: left;
}

#leaderboard-screen i {
    font-size: 20px;
}

#difficulty-screen h2 {
    color: white;
}

#leaderboard-screen {
    border: 3px solid white;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    background: #209CEE;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

#leaderboarddata {
    padding: 0;
}




.slide {
    position: absolute;
    border: 2px solid blue;
    left: -40%;
    -webkit-animation: slide 0.5s reverse;
    -webkit-animation-delay: 0s;
    animation: slide 0.8s reverse;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    0% {
        right: 100000px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 100;
    }
}

@keyframes slide {
    0% {
        right: 100000px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 100;
    }
}

.diffcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    margin: 20px;
    transition: 0.5s;


}

.diffcon:hover {
    transform: translateX(15px);
}

#list-of-difficulty i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 50px;
    padding: 5px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    color: white;
}



#begin i {
    background-color: #4AA52E;
}

#begin button {
    background-color: #92CC41;
}

#interm button {
    background-color: #F7D51D;
}

#interm i {
    background-color: #E59400;
}

#expert button {
    background-color: #E76E55;
}

#expert i {
    background-color: #8C2022;
}

.leaderbtn {
    margin-left: 50px;
    width: 150px !important;
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}