#roomtitle {
    padding: 30px;
}

#joincreate {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 100px 0;
}

.jorccont {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    border: 3px white solid;
    transition: 0.5s;
    color: white;
}

.jorccont:hover {
    transform: translateY(-15px);
    transition: 0.5s;
}


.jorccont svg {
    width: 100%;
    height: 50%;
    background-color: #209CEE;
}


button.roomselect {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 !important;
    background-color: #006BB3;
    border: none;
    font-size: 30px;
    color: white;
}

#createbtn {
    background-color: #4AA52E;

}

#first svg {
    background-color: #92CC41;
}